In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
purchase_csv = "../../Instructions/HeroesOfPymoli/Resources/purchase_data.csv"

In [3]:
purchase_df = pd.read_csv(purchase_csv)
#purchase_df.head()

In [4]:
## I checked to see if some players are represented more than once in the file using "unique". It appears that many players are represented more than once.
## Therefore, the total number of individual players is less and given by the length of unique players:
unique_df = purchase_df.drop_duplicates(subset='SN', keep='first')
numUniquePlayers = len(unique_df.index)
totalPlayers_df = pd.DataFrame(data={'Total Players': [numUniquePlayers]})
totalPlayers_df

   Total Players
0            576

In [5]:
## Purchasing Analysis (Total)

# Determine number of unique items according to "Item ID". Good, they agree.
uniqueItemIDs = purchase_df['Item ID'].unique()

# Calculate average purchase price
avgPurchasePrice = np.round(purchase_df.Price.mean(),2)

# Calculate number of purchases
numPurchases = len(purchase_df.index)

# Calculate total revenue
totalRevenue = purchase_df.Price.sum()

uniqueItems_df = pd.DataFrame(data={'Number of Unique Items':[len(uniqueItemIDs)], 
                                'Average Price':[f'${avgPurchasePrice}'],
                                'Number of Purchases':[numPurchases],
                                'Total Revenue':[f'${totalRevenue}']})
                               
uniqueItems_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [6]:
## Gender Demographics

#Filter dataframe according to gender
# Gender count should be evaluated according to unique players (otherwise, the gender of some individuals will be weighed more heavily)
theUniqueMales = unique_df.Gender == 'Male'
theUniqueFemales = unique_df.Gender == 'Female'
uniqueNonDisclosed = unique_df.Gender == 'Other / Non-Disclosed'

uniqueMaleCount = len(unique_df[theUniqueMales])
uniqueFemaleCount = len(unique_df[theUniqueFemales])
uniqueNonDisclosedCount = len(unique_df[uniqueNonDisclosed])

uniqueMalePercent = 100 * uniqueMaleCount/(uniqueMaleCount+uniqueFemaleCount+uniqueNonDisclosedCount)
uniqueFemalePercent = 100 * uniqueFemaleCount/(uniqueMaleCount+uniqueFemaleCount+uniqueNonDisclosedCount)
uniqueNonDisclosedPercent = 100 * uniqueNonDisclosedCount/(uniqueMaleCount+uniqueFemaleCount+uniqueNonDisclosedCount)

# make data frame
genderDemographics = pd.DataFrame(data={'Total Count':[uniqueMaleCount, uniqueFemaleCount, uniqueNonDisclosedCount], 
                                       'Percentage of Players':[f'{round(uniqueMalePercent,2)}%', f'{round(uniqueFemalePercent,2)}%', f'{round(uniqueNonDisclosedPercent,2)}%']})

# add row titles
genderDemographics.index = ['Male', 'Female', 'Other / Non-Disclosed']  
genderDemographics

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [7]:
## Purchasing Analysis (Gender)

# Should be calculated from the total pool of players
allMales = purchase_df.Gender == 'Male'
allFemales = purchase_df.Gender == 'Female'
allNonDisclosed = purchase_df.Gender == 'Other / Non-Disclosed'

# Purchase count according to gender
malePurchaseCount = len(purchase_df[allMales])
femalePurchaseCount = len(purchase_df[allFemales])
nonDisclosedPurchaseCount = len(purchase_df[allNonDisclosed])

# Total Purchase Price according to gender
totalMalePurchasePrice = round(purchase_df.Price[allMales].sum(), 2)
totalFemalePurchasePrice = round(purchase_df.Price[allFemales].sum(), 2)
totalNonDisclosedPurchasePrice = round(purchase_df.Price[allNonDisclosed].sum(), 2)

# Average Purchase Price according to gender
avgMalePurchasePrice = round(totalMalePurchasePrice/malePurchaseCount, 2) 
avgFemalePurchasePrice = round(totalFemalePurchasePrice/femalePurchaseCount, 2) 
avgNonDisclosedPurchasePrice = round(totalNonDisclosedPurchasePrice/nonDisclosedPurchaseCount,2)

# Average Total Purchase Per Person
avgTotalPurchaseMale = round(totalMalePurchasePrice/uniqueMaleCount, 2)
avgTotalPurchaseFemale = round(totalFemalePurchasePrice/uniqueFemaleCount, 2)
avtTotalPurchaseNonDisclosed = round(totalNonDisclosedPurchasePrice/uniqueNonDisclosedCount, 2)

# make data frame
genderPurchasingAnalysis_df = pd.DataFrame(data={'Purchase Count':[femalePurchaseCount, malePurchaseCount, nonDisclosedPurchaseCount], 
                                                 'Average Purchase Price':[f'${avgFemalePurchasePrice}', f'${avgMalePurchasePrice}', f'${avgNonDisclosedPurchasePrice}'],
                                                 'Total Purchase Price':[f'${totalFemalePurchasePrice}', f'${totalMalePurchasePrice}', f'${totalNonDisclosedPurchasePrice}'],
                                                 'Avg Total Purchase per Person':[f'${avgTotalPurchaseFemale}', f'${avgTotalPurchaseMale}', f'${avtTotalPurchaseNonDisclosed}'] })

# add row titles
genderPurchasingAnalysis_df.index = ['Female', 'Male', 'Other / Non-Disclosed'] 

# show data frame
genderPurchasingAnalysis_df

,Purchase Count,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [8]:
## make a function to add dollar sign to an entire df series
def format(x):
        return "${:.2f}".format(x)

In [9]:
## Create bins for age demographics
# create bins
maxAge = unique_df.Age.max()
ageBins = list(range(9,40,5))
ageBins.insert(0,0)
ageBins.append(50)



# get counts in each age bin
ageData = pd.cut(unique_df['Age'], bins=ageBins).value_counts()
sumCounts = ageData.sum()
agesAsPercents = 100*ageData/sumCounts

# change presentation of floats
pd.options.display.float_format = '{:,.2f}%'.format

# create data frame 
ageDemographics = pd.DataFrame(data={'Total Count':ageData,
                  'Percentage of Players':agesAsPercents})

# I needed this to sort the counts according to bin intervals, NOT descending value_counts
sortedAgeDemographics = ageDemographics.sort_index()

sortedAgeDemographics.index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '34-39', '40+'] 
sortedAgeDemographics.index.name = 'Age Ranges'

sortedAgeDemographics

            Total Count  Percentage of Players
Age Ranges
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
34-39                31                  5.38%
40+                  12                  2.08%

In [10]:
## Purchasing According to Age Demographics
# use 'cut' to bin the data
purchase_df['ageData'] = pd.cut(purchase_df['Age'], bins=ageBins)

# apply binned data to other series
AvgPurchasePrice = purchase_df.groupby(['ageData'])['Price'].mean()
SumPurchasePrice = purchase_df.groupby(['ageData'])['Price'].sum()
AvgPerPerson = SumPurchasePrice/ageData

# create data frame
agePurchasingDemographics = pd.DataFrame(data={'Purchase Counts':ageData,
                            'Average Purchase Price':round(AvgPurchasePrice,2),
                            'Total Purchase Price':SumPurchasePrice,
                            'Avg Total Purchase per Person':round(AvgPerPerson,2)})

# this will present floats as currencies
pd.options.display.float_format = '${:,.2f}'.format

agePurchasingDemographics.index = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '34-39', '40+'] 
agePurchasingDemographics.index.name = 'Age Ranges'
agePurchasingDemographics

,Purchase Counts,Average Purchase Price,Total Purchase Price,Avg Total Purchase per Person
Age Ranges,,,,
<10,17,$3.35,$77.13,$4.54
10-14,22,$2.96,$82.78,$3.76
15-19,107,$3.04,$412.89,$3.86
20-24,258,$3.05,"$1,114.06",$4.32
25-29,77,$2.90,$293.00,$3.81
30-34,52,$2.93,$214.00,$4.12
34-39,31,$3.60,$147.67,$4.76
40+,12,$2.94,$38.24,$3.19

In [11]:
## Top Spenders
pd.reset_option('display.float_format')


purchaseCountsPerSN = purchase_df.groupby(['SN'])['Price'].count()
totalPurchasePerSN = purchase_df.groupby(['SN'])['Price'].sum()
avgPurchasePerSN = totalPurchasePerSN/purchaseCountsPerSN

purchaseBySN_df = pd.DataFrame(data={'Purchase Count':purchaseCountsPerSN,
                              'Average Purchase Price':avgPurchasePerSN,
                              'Total Purchase Value':totalPurchasePerSN})


purchaseBySN_df.sort_values(['Total Purchase Value'], inplace=True, ascending=False)

def format(x):
        return "${:.2f}".format(x)

purchaseBySN_df['Total Purchase Value'] = purchaseBySN_df['Total Purchase Value'].apply(format)
purchaseBySN_df['Average Purchase Price'] = purchaseBySN_df['Average Purchase Price'].apply(format)

# 
top5SN = purchaseBySN_df.head(5)
top5SN

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [27]:
## Most Popular Items
# get unique item names
itemIDs = purchase_df.groupby(['Item ID'])
itemNames = itemIDs['Item Name']
uniqueNames = itemNames.unique()

# get item prices
#itemIDnamess = purchase_df.groupby(['Item Name'])
#itemPrices = itemIDnamess['Price']
#uniquePrices = itemPrices.unique()

#unPrice = purchase_df.groupby(['Item Name'])['Price'].max()
#unPrice



purchaseCountsPerItemID = purchase_df.groupby(['Item ID'])['Price'].count()
totalPurchasePerItemID = purchase_df.groupby(['Item ID'])['Price'].sum()

av = totalPurchasePerItemID/purchaseCountsPerItemID

purchaseByItemID_df = pd.DataFrame(data={'Item Name':uniqueNames,
                                'Purchase Count':purchaseCountsPerItemID,
                                'Item Price':round(av,2),
                                  'Total Purchase Value':totalPurchasePerItemID})



purchaseByItemID_df.sort_values(['Purchase Count'], inplace=True, ascending=False)


purchaseByItemID_df['Total Purchase Value'] = purchaseByItemID_df['Total Purchase Value'].apply(format)
purchaseBySN_df['Item Price'] = purchaseByItemID_df['Item Price'].apply(format)

purchaseByItemID_df['Item Name'] = purchaseByItemID_df['Item Name'].str[0]


# 
top5Items = purchaseByItemID_df.head(5)
top5Items

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76
145,Fiery Glass Crusader,9,4.58,$41.22
132,Persuasion,9,3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,$31.77

In [ ]:
# print the summary: 
print("Player Count")
print(f'The total number of players is {totalPlayerCount}. However, as some players appear to have played multiple times, the number of unique players is {numUniquePlayers}.\n')
print("Purchasing Analysis (Total)")
print(f'The number of unique items is {numUniqueItems}.')
print(f'The average purchase price is ${avgPurchasePrice}. This is based on the # of total players.')
print(f'The total revenue is ${sumPurchasePrice}. This is based on the # of total players.\n')
print("Gender Demographics")
print(f'Percentage and Count of Male Players: {maleCount} ({round(malePercent,2)}%. This based on the # of unique players.')
print(f'Percentage and Count of Female Players: {femaleCount}, ({round(femalePercent,2)}%). This based on the # of unique players.')
print(f'Percentage and Count of Non-Disclosed Players: {nonDisclosedCount} ({round(nonDisclosedPercent,2)}%). This based on the # of unique players.\n')
print("Purchasing Analysis (Gender)")
print(f'The total purchase count by males, females, and other/non-disclosed individuals is {malePurchaseCount}, {femalePurchaseCount}, and {nonDisclosedPurchaseCount}, respectively.')
print(f'The average purchase count by males, females, and other/non-disclosed individuals is ${avgMalePurchasePrice}, ${avgFemalePurchasePrice}, and ${avgNonDisclosedPurchasePrice}, respectively.')
print(f'The total purchase value by males, females, and other/non-disclosed individuals is ${totalMalePurchasePrice}, ${totalFemalePurchasePrice}, and ${totalNonDisclosedPurchasePrice}, respectively.')
print("MISSING LAST BULLET \n")
print("Age Demographics")